/* line 17, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../../sass/_common.scss */
body {
  background: #fff;
}

/* line 14, ../../sass/_common.scss */
td,
th,
body {
  font-size: 14px;
  line-height: 1.35;
  font-family: Consolas, Monaco, Andale Mono, sans-serif;
  font-weight: 400;
  color: #222;
}

/* line 22, ../../sass/_common.scss */
a:active {
  color: #ff0066;
}

/* line 26, ../../sass/_common.scss */
h1 {
  font-size: 22px;
}

/* line 33, ../../sass/_common.scss */
h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

/* line 37, ../../sass/_common.scss */
pre {
  color: #ff0066;
}

/* line 49, ../../sass/_common.scss */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 18.9px 0;
}

/* line 53, ../../sass/_common.scss */
#page-wrap {
  padding: 0 18.9px;
}

/* line 58, ../../sass/_common.scss */
input[type=text],
input[type=password] {
  border: 1px solid #cccccc;
  border: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 3px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 3px inset;
  box-shadow: rgba(0, 0, 0, 0.25) 0 1px 3px inset;
  padding: 0 5px;
}

/* line 67, ../../sass/_common.scss */
input[type=text],
input[type=password],
button,
input[type=submit] {
  font-family: Consolas, Monaco, Andale Mono, sans-serif;
  height: 22px;
  line-height: 22px;
  padding-top: 0;
  padding-bottom: 0;
}

/* line 76, ../../sass/_common.scss */
button,
input[type=submit] {
  background: #f2f2f2;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 1px;
  outline: none;
  border-style: none;
}
/* line 82, ../../sass/_common.scss */
button:hover,
input[type=submit]:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 2px;
}
/* line 85, ../../sass/_common.scss */
button:active,
input[type=submit]:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 1px 1px;
}

/* line 97, ../../sass/_common.scss */
#messages {
  font-weight: bold;
  color: #ff0066;
}

/* line 2, ../../sass/_login.scss */
.login-form label {
  text-align: right;
}
/* line 6, ../../sass/_login.scss */
.login-form td,
.login-form th {
  padding: 2px .5em;
}
/* line 8, ../../sass/_login.scss */
.login-form td:first-child,
.login-form th:first-child {
  padding-left: 0;
}
/* line 11, ../../sass/_login.scss */
.login-form td:last-child,
.login-form th:last-child {
  padding-right: 0;
}
/* line 15, ../../sass/_login.scss */
.login-form th {
  text-align: right;
}

/* line 21, ../../sass/_login.scss */
.login-submit .button {
  width: 100%;
}
